@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@500&family=Oswald:wght@200;300&family=Poppins:wght@200&family=Raleway:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
    --color1: #568EBF;
    --color2: #7EB6D9;
    --color3: #8FCBD9;
    --color4: #C2E0F2;
    --color5: #B6E7F2;

    --lettercolor1:#3AFF61;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color1);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: items;
    flex-direction: column;
}

.left-side > h1 {
    color: var(--lettercolor1);
    text-align: center;
}

.right-side > h1 {
    color: var(--lettercolor1);
}

.right-side {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: var(--color2);
    border-radius: 30px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.404);
}

.card-login > h1 {
    color: var(--lettercolor1);
}

input {
    margin: 10px;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    outline: none;
    background: var(--color4);
    color: white;
}

.password {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    outline: none;
    background: var(--color4);
    color: white;
}

.password::placeholder {
    color: white;
}

.email::placeholder {
    color: white;
}

.btn-login {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 20px;
    background: var(--lettercolor1);
    color: black;
    font-size: 15px;
    margin-top: 10px;
}

.btn-login:hover {
    background-color: #2DE051;
}

.btn-login:active {
    background-color: var(--color1);
    color: white;
}

img {
    margin: 20px;
    width: 35vw;
    margin-left: 50px;
}

.phoneh1{
    visibility: hidden;
}    

header > img {
    width: 80px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
}

@media only screen and (max-width:950px) {
    .card-login {
        width: 70%;
    }
}

@media only screen and (max-width:600px) {
    .main {
    flex-direction: column;
    }

    .right-side {
        width: 90%;
        height: 0px;
    }
    
    .phoneh1 {
        visibility: visible;
    }

    .left-side {
        height: 450px;
    }

    .left-side > .left-h1 {
        display: none;
    }

    .left-side > img {
        display: none;
    }
}
